<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <!-- 引入 Element UI CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入 Vue -->
    <script src="../js/Vue.main.js"></script>
    <!-- 引入 Element UI -->
    <script src="../js/index.js"></script>
    <!-- 引入 axios -->
    <script src="../js/axios.js"></script>

</head>
<style>
    .multi-line-ellipsis {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2; /* 显示行数 */
        overflow: hidden;
        line-height: 1.5;
        max-height: 3em; /* line-height * 显示行数 */
    }
</style>
<body>
<div id="app">
    <!--输入搜索框-->
    <el-form :inline="true" :model="formInline" class="demo-form-inline">
        <el-form-item label="课程名称">
            <el-input v-model="formInline.coursename" placeholder=""></el-input>
        </el-form-item>
        <el-form-item label="课程简介">
            <el-input v-model="formInline.synopsis" placeholder=""></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" icon="el-icon-search" @click="onSubmit">查询</el-button>
        </el-form-item>
    </el-form>

    <el-dialog
            :title="dialogType === 'add' ? '添加基本课程' : '修改基本课程'"
            :visible.sync="dialogVisible"
            width="30%"
            @close="handleClose">
        <el-form ref="updateForm" :model="updateForm" label-width="80px">
            <el-form-item label="课程名称">
                <el-input v-model="updateForm.coursename"></el-input>
            </el-form-item>
            <el-form-item label="课程简介">
                <el-input v-model="updateForm.synopsis" type="textarea"></el-input>
            </el-form-item>

            <el-form-item>
                <el-button type="primary" @click="handleSubmit">确定</el-button>
                <el-button @click="dialogVisible = false">取消</el-button>
            </el-form-item>
        </el-form>
    </el-dialog>

    <!--表格-->
    <template>
        <el-table
                ref="table"
                :data="tableData"
                @selection-change="handleSelectionChange"
                @select-all="handleSelectAll"
                @select="handleSelect"
                style="width: 100%">
            <!--id-->
            <el-table-column
                    label="ID"
                    width="180">
                <template slot-scope="scope">
                    <span style="margin-left: 10px">{{ scope.row.id }}</span>
                </template>
            </el-table-column>
            <!--课程名称-->
            <el-table-column
                    label="课程名称"
                    width="290">
                <template slot-scope="scope">
                    <el-popover trigger="hover" placement="top">
                        <p>课程名称: {{ scope.row.coursename }}</p>
                        <div slot="reference" class="name-wrapper">
                            <el-tag size="medium">{{ scope.row.coursename }}</el-tag>
                        </div>
                    </el-popover>
                </template>
            </el-table-column>

            <!--课程简介-->
            <el-table-column
                    label="课程简介"
                    width="250">
                <template slot-scope="scope">
                    <el-tooltip class="item" effect="dark" :content="scope.row.synopsis" placement="top">
                        <div class="multi-line-ellipsis">{{ scope.row.synopsis }}</div>
                    </el-tooltip>
                </template>
            </el-table-column>
        </el-table>
    </template>

    <!--分页查询-->
    <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="pageNum"
            :page-sizes="[5, 10, 20, 50]"
            :page-size="pageSize"
            layout="total, sizes, prev, pager, next, jumper"
            :total="total">
    </el-pagination>


</div>

<script>
    new Vue({
        el: '#app',
        method:"post",
        data() {
            return {
                formInline: {
                    coursename: '',
                    synopsis:''
                },
                pageNum: 1,        // 当前页码
                pageSize: 5,      // 每页显示条数
                total: 0,          // 总条数
                multipleSelection: [], // 存储选中的行
                /*批量删除*/
                ids:[],
                /*修改时的返回数据*/
                updateForm: {
                    coursename: '',
                    synopsis: '',
                },
                // 添加一个变量区分是添加还是编辑
                dialogType: 'add', // 'add' 或 'edit'
                dialogVisible: false,
                // 页面中表格显示的内容
                tableData: [],
            }
        },
        methods: {
            // 统一的数据获取方法
            fetchData() {
                // 如果有查询条件，使用模糊查询
                if (this.formInline.coursename || this.formInline.synopsis) {
                    this.onSubmit();
                } else {
                    this.getAll();
                }
            },
            // 处理每页显示条数变化
            handleSizeChange(val) {
                this.pageSize = val;
                this.pageNum = 1;  // 重置到第一页
                this.fetchData();
            },
            // 处理页码变化
            handleCurrentChange(val) {
                this.pageNum = val;
                this.fetchData();
            },
            // 关闭按钮
            handleClose(done) {
                this.updateForm = {
                    coursename: '',
                    synopsis: '',
                    id:'',
                };
                this.ids =[];
                this.multipleSelection = [];
                done();
            },
            // 获取表格数据
            getAll(){
                axios({
                    url:'http://localhost:8080/baseCourse/getAll',
                    method:'post',
                    data:{
                        pageNum:this.pageNum,
                        pageSize:this.pageSize,
                    }
                }).then(res =>{
                    console.log(res.data)
                    if(res.data.code == 200){
                        this.tableData = res.data.data.list;
                        this.pageNum = res.data.data.pageNum;
                        this.total = res.data.data.total;
                        this.pageSize = res.data.data.pageSize;
                    }

                })
            },
            // 模糊查询
            onSubmit() {
                // 重置页码到第一页
                this.pageNum = 1;
                axios({
                    url:'http://localhost:8080/baseCourse/fuzzyQuery',
                    method:'post',
                    data:{
                        coursename: this.formInline.coursename,
                        synopsis: this.formInline.synopsis,
                        pageNum: this.pageNum,
                        pageSize: this.pageSize,
                    }
                }).then(res =>{
                    if(res.data.code == 200){
                        this.tableData = res.data.data.list;
                        this.pageNum = res.data.data.pageNum;
                        this.total = res.data.data.total;
                        this.pageSize = res.data.data.pageSize;
                        // this.$message.success('查询成功');
                        if(this.pageNum === 1) {
                            this.$message.success('查询成功');
                        }
                    }

                })
            },

            // 表格多选框选中事件
            handleSelectionChange(val) {
                this.multipleSelection = val;
            },

            // 全选
            handleSelectAll(selection) {
                this.multipleSelection = selection;
                this.ids = this.multipleSelection.map(item => item.id);
            },

            // 单选
            handleSelect(selection, row) {
                this.multipleSelection = selection;
                this.ids = this.multipleSelection.map(item => item.id);
            },
            // 清空选择
            clearSelection() {
                this.$refs.table.clearSelection();
            },
        },
        mounted() {
            this.fetchData();
        }
    })
</script>
</body>
</html>
