<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>添加课程</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="../js/Vue.main.js"></script>
    <script src="../js/index.js"></script>
    <script src="../js/axios.js"></script>
    <style>
        .course-container {
            position: relative;
            padding: 20px;
        }

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;
            padding-bottom: 10px;
            border-bottom: 1px solid #eee;
        }

        .title {
            font-size: 18px;
            font-weight: bold;
        }

        .close-btn {
            position: absolute;
            right: 20px;
            top: 20px;
            font-size: 20px;
            cursor: pointer;
            color: #909399;
        }

        .close-btn:hover {
            color: #409EFF;
        }

        .course-form {
            padding: 20px;
            max-width: 1200px;
            margin: 0 auto;
        }

        .form-row {
            display: flex;
            gap: 20px;
            margin-bottom: 20px;
        }

        .form-item {
            flex: 1;
        }
    </style>
</head>
<body>

<div id="app">
    <div class="course-container">
        <!-- 标题和关闭按钮 -->
        <div class="header">
            <div class="title">编辑课程</div>
            <i class="el-icon-close close-btn" @click="handleClose"></i>
        </div>

        <!-- 表单内容 -->
        <div class="course-form">
            <el-form :model="courseForm" ref="courseForm" label-width="100px">
                <!-- 第一行：课程和任课教师 -->
                <div class="form-row">
                    <el-form-item label="课程" class="form-item">
                        <el-select v-model="courseForm.coursename" placeholder="请选择课程" clearable>
                            <el-option
                                    v-for="item in baseCourseOptions"
                                    :key="item.id"
                                    :label="item.coursename"
                                    :value="item.coursename">
                            </el-option>
                        </el-select>
                    </el-form-item>

                    <el-form-item label="任课教师" class="form-item">
                        <el-select v-model="courseForm.username" placeholder="请选择教师" clearable>
                            <el-option
                                    v-for="item in teacherOptions"
                                    :key="item.id"
                                    :label="item.username"
                                    :value="item.username">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </div>


            <div class="form-row">
                <el-form-item label="开始时间" class="form-item">
                    <el-input v-model="courseForm.startDate" placeholder="开始时间"></el-input>
                </el-form-item>

                <el-form-item label="结束时间" class="form-item">
                    <el-input v-model="courseForm.endDate" placeholder="结束时间"></el-input>
                </el-form-item>

            </div>

            <!-- 第三行：课时和考核方式 -->
            <div class="form-row">
                <el-form-item label="课时" class="form-item">
                    <el-input v-model="courseForm.classHour" placeholder="课时"></el-input>
                </el-form-item>

                <el-form-item label="考核方式" class="form-item">
                    <el-input v-model="courseForm.testMode" placeholder="考核方式"></el-input>
                </el-form-item>
            </div>

            <!-- 第四行：人数 -->
            <div class="form-row">
                <el-form-item label="人数" class="form-item">
                    <el-input v-model="courseForm.studentNum" placeholder="人数"></el-input>
                </el-form-item>
            </div>
            <!-- 按钮组 -->
            <div style="text-align: center; margin-top: 30px;">
                <el-button type="primary" @click="submitForm">提交</el-button>
                <el-button @click="resetForm">重置</el-button>
                <el-button @click="handleClose">关闭页面</el-button>
            </div>
        </el-form>
    </div>
</div>
</div>
</body>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                courseForm: {
                    id:'',
                    coursename:'',// 课程名
                    username: '', // 教师名
                    endDate: '',
                    classHour: '',
                    testMode: '',
                    studentNum: ''
                },
                baseCourseOptions: [], // 课程选项
                teacherOptions: []     // 教师选项
            }
        },
        methods: {
            // 1.要先获取所有的课程信息
            getAllCourse(){
                axios({
                    url:'http://localhost:8080/easCourse/courseList',
                    method:'post',
                }).then(res =>{
                    console.log(res.data)
                    this.baseCourseOptions  = res.data.data;
                })
            },
            // 2.获取所有的教师信息
            getTeacherList(){
                axios({
                    url:'http://localhost:8080/easCourse/teacherList',
                    method:'post',
                }).then(res =>{
                    console.log(res.data)
                    this.teacherOptions = res.data.data;
                })
            },
            // 提交表单
            /*添加课程信息*/
            submitForm() {
                // todo:
                console.log(this.courseForm)
                axios({
                    url:'http://localhost:8080/easCourse/updateNew',
                    method:'post',
                    data:this.courseForm,
                }).then(res =>{
                    console.log(res.data)
                    if(res.data.code == 200) {
                        this.$message.success("修改成功");
                    }else{
                        this.$message.error("修改失败");
                    }
                }).catch(() =>{
                    this.$message.error("修改失败");
                })
            },

            // 重置表单
            resetForm() {
                this.$refs.courseForm.resetFields();
            },

            // 关闭页面
            handleClose() {
                location.href = 'courseManage.html'
            },
            fetchData() {
                const storedData = sessionStorage.getItem("courseForm");
                const parsedData = JSON.parse(storedData);
                this.courseForm = { ...parsedData };
            }
        },
        mounted() {
            this.fetchData();
            this.getAllCourse();
            this.getTeacherList();

        }

    })
</script>
</html>