<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="js/Vue.main.js"></script>
    <script src="js/index.js"></script>
</head>
<body>
<div id="app">
    <el-form :inline="true" :model="formInline" class="demo-form-inline">
        <el-form-item label="课程名称">
            <el-input v-model="formInline.coursename" placeholder=""></el-input>
        </el-form-item>
        <el-form-item label="教师名称">
            <el-input v-model="formInline.teachername" placeholder=""></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" icon="el-icon-search" @click="onSubmit">查询</el-button>
        </el-form-item>
    </el-form>
    <!--操作按钮-->
    <el-row>
        <el-button type="success" plain @click="add" icon="el-icon-edit">添加</el-button>
        <!--批量删除-->
        <el-button type="danger" plain icon="el-icon-delete" @click="deleteByIds">批量删除</el-button>
    </el-row>


    <!--表格-->
    <template>
        <el-table
                ref="table"
                :data="tableData"
                @selection-change="handleSelectionChange"
                @select-all="handleSelectAll"
                @select="handleSelect"
                style="width: 100%">
            <!--复选框-->
            <el-table-column
                    type="selection"
                    width="55">
            </el-table-column>
            <!--id-->
            <el-table-column
                    label="课程编号"
                    sortable
                    width="100">
                <template slot-scope="scope">
                    <span style="margin-left: 10px">{{ scope.row.id }}</span>
                </template>
            </el-table-column>
            <!--课程名称-->
            <el-table-column
                    label="课程名称"
                    width="100">
                <template slot-scope="scope">
                    <el-popover trigger="hover" placement="top">
                        <p>课程名称: {{ scope.row.coursename }}</p>
                        <div slot="reference" class="name-wrapper">
                            <el-tag size="medium">{{ scope.row.coursename }}</el-tag>
                        </div>
                    </el-popover>
                </template>
            </el-table-column>
            <!--任课教师-->
            <el-table-column
                    label="任课教师"
                    width="100">
                <template slot-scope="scope">
                    <el-popover trigger="hover" placement="top">
                        <p>任课教师: {{ scope.row.synopsis }}</p>
                        <div slot="reference" class="name-wrapper">
                            <el-tag size="medium">{{ scope.row.teacher }}</el-tag>
                        </div>
                    </el-popover>
                </template>
            </el-table-column>
            <!--开始时间 -->
            <el-table-column
                    label="开始时间"
                    width="120">
                <template slot-scope="scope">
                    <i class="el-icon-time"></i>
                    <span style="margin-left: 10px">{{ scope.row.startDate }}</span>
                </template>
            </el-table-column>
            <!--结束时间-->
            <el-table-column
                    label="结束时间"
                    width="120">
                <template slot-scope="scope">
                    <i class="el-icon-time"></i>
                    <span style="margin-left: 10px">{{ scope.row.endDate }}</span>
                </template>
            </el-table-column>

            <!--课时-->
            <el-table-column
                    label="课时"
                    width="120">
                <template slot-scope="scope">
                    <el-popover trigger="hover" placement="top">
                        <p>课时: {{ scope.row.classHours }}</p>
                        <div slot="reference" class="name-wrapper">
                            <el-tag size="medium">{{ scope.row.classHours }}</el-tag>
                        </div>
                    </el-popover>
                </template>
            </el-table-column>

            <!--考核方式-->
            <el-table-column
                    label="考核方式"
                    width="120">
                <template slot-scope="scope">
                    <el-popover trigger="hover" placement="top">
                        <p>考核方式: {{ scope.row.testMode }}</p>
                        <div slot="reference" class="name-wrapper">
                            <el-tag size="medium">{{ scope.row.testMode }}</el-tag>
                        </div>
                    </el-popover>
                </template>
            </el-table-column>
            <!--最大人数-->
            <el-table-column
                    label="最大人数"
                    width="120">
                <template slot-scope="scope">
                    <el-popover trigger="hover" placement="top">
                        <p>最大人数: {{ scope.row.studentNum }}</p>
                        <div slot="reference" class="name-wrapper">
                            <el-tag size="medium">{{ scope.row.studentNum }}</el-tag>
                        </div>
                    </el-popover>
                </template>
            </el-table-column>
            <!--已选-->
            <el-table-column
                    label="已选(人)"
                    width="130">
                <template slot-scope="scope">
                    <el-popover trigger="hover" placement="top">
                        <p>最大人数: {{ scope.row.choiceNum }}</p>
                        <div slot="reference" class="name-wrapper">
                            <el-tag size="medium">{{ scope.row.choiceNum }}</el-tag>
                        </div>
                    </el-popover>
                </template>
            </el-table-column>


            <!--操作-->
            <el-table-column label="操作">
                <template slot-scope="scope">
                    <el-button
                            size="mini"
                            @click="handleEdit(scope.row)">编辑</el-button>
                    <el-button
                            size="mini"
                            type="danger"
                            @click="handleDelete(scope.$index, scope.row)">删除</el-button>
                </template>
            </el-table-column>
        </el-table>
    </template>

</div>
</body>
<script>
    new Vue({
        el:"#app",
        method:"post",
        data(){
            return{
                formInline: {
                    coursename: '',
                    teachername: ''
                },
                // ... 其他数据
                multipleSelection: [], // 存储选中的行
                /*批量删除*/
                ids:[],
                /*修改时的返回数据*/
                form: {
                    coursename: '',
                    synopsis: '',
                },
                // 添加一个变量区分是添加还是编辑
                dialogType: 'add', // 'add' 或 'edit'
                // 关闭按钮
                handleClose(done) {
                    done();
                },
                tableData: [{
                    id:'1',
                    coursename: '王小虎',
                    testMode:"",
                    studentNum:"",
                    synopsis:"admin",
                    startDate: '2016-05-02',
                    endDate: '2016-05-02',
                    choiceNum:'',
                }, {
                    id:'2',
                    coursename: '王虎',
                    synopsis:"admin",
                    startDate: '2016-05-02',
                    endDate: '2016-05-02',
                    testMode:"",
                    studentNum:"",
                    choiceNum:'',
                }, {
                    id:'3',
                    coursename: '王大虎',
                    synopsis:"admin",
                    startDate: '2016-05-02',
                    endDate: '2016-05-02',
                    testMode:"",
                    studentNum:"",
                    choiceNum:'',
                }, {
                    id:'6',
                    coursename: '王小虎',
                    synopsis:"admin",
                    startDate: '2016-05-02',
                    endDate: '2016-05-02',
                    testMode:"",
                    studentNum:"",
                    choiceNum:'',
                }],
            }
        },
        methods:{
            onSubmit() {
                console.log('submit!');
            },

            deleteByIds(){
                /*todo：批量删除*/
                console.log(this.ids)

            },
            // 添加
            add(){
               location.href = 'addCourse.html'
            },
            // 处理编辑按钮点击时显示的内容
            handleEdit(row) {
                // this.dialogType = 'edit';
                // this.dialogVisible = true;
                // // 复制数据到编辑表单
                // this.form = {
                //     coursename: row.coursename,
                //     synopsis: row.synopsis,
                // };
                alert(111)
            },

            // 表格多选框选中事件
            handleSelectionChange(val) {
                this.multipleSelection = val;
            },


            // 全选
            handleSelectAll(selection) {
                this.multipleSelection = selection;
                this.ids = selection.map(item => item.id);
            },

            // 单选
            handleSelect(selection, row) {
                this.multipleSelection = selection;
                this.ids = selection.map(item => item.id);
            },
            // 清空选择
            clearSelection() {
                this.$refs.table.clearSelection();
            },
            // 删除操作(单个删除）
            handleDelete(index, row) {
                // todo:根据id删除
                console.log(row.id)
            },
        }
    })
</script>
</html>