<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="js/Vue.main.js"></script>
    <script src="js/index.js"></script>
    <script src="js/axios.js"></script>
</head>
<body>
<div id="app">
    <el-form :inline="true" :model="formInline" class="demo-form-inline">

        <el-form-item label="姓名">
            <el-input v-model="formInline.name" placeholder=""></el-input>
        </el-form-item>
        <el-form-item label="学历">
            <el-select v-model="formInline.education" placeholder="请选择"  clearable>
                <!--todo-->
                <el-option  label="研究生" value="研究生"></el-option>
                <el-option  label="博士" value="博士"></el-option>
                <el-option  label="本科" value="本科"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" icon="el-icon-search"  @click="onSubmit">查询</el-button>
        </el-form-item>
    </el-form>
    <!--编辑老师-->
    <el-dialog
            :visible.sync="dialogVisible"
            width="30%"
            :before-close="handleClose">

        <el-form ref="updateForm" :model="updateForm" label-width="80px">
            <el-form-item label="用户名">
                <el-input v-model="updateForm.username"></el-input>
            </el-form-item>
            <el-form-item label="姓名">
                <el-input v-model="updateForm.name"></el-input>
            </el-form-item>
            <el-form-item label="性别">
                <el-input v-model="updateForm.sex"></el-input>
            </el-form-item>
            <!--生日-->
            <el-form-item label="生日">
                <el-input v-model="updateForm.birthday"></el-input>
            </el-form-item>
            <el-form-item label="电话">
                <el-input v-model="updateForm.phone"></el-input>
            </el-form-item>
            <el-form-item label="学历">
                <el-select v-model="updateForm.education" placeholder="请选择"  clearable>
                    <!--todo-->
                    <el-option  label="研究生" value="研究生"></el-option>
                    <el-option  label="博士" value="博士"></el-option>
                    <el-option  label="本科" value="本科"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item>
                <!--                <el-button type="primary" @click="handleSubmit">确定</el-button>-->
                <el-button type="primary" @click="updateTeacher">确定</el-button>
                <el-button @click="dialogVisible = false">取消</el-button>
            </el-form-item>
        </el-form>
    </el-dialog>

    <!--表格-->
    <template>
        <el-table
                :data="tableData"
                stripe
                style="width: 100%"
                :default-sort = "{prop: 'date', order: 'descending'}">
            <!--id-->
            <el-table-column
                    prop="id"
                    label="ID"
                    width="150">
            </el-table-column>
            <!--用户名-->
            <el-table-column
                    prop="username"
                    label="用户名"
                    sortable
                    width="150">
            </el-table-column>
            <!--姓名 -->
            <el-table-column
                    prop="name"
                    label="姓名"
                    width="150">
            </el-table-column>
            <!--性别-->
            <el-table-column
                    prop="sex"
                    label="性别"
                    width="120">
            </el-table-column>
            <!--生日-->
            <el-table-column
                    prop="birthday"
                    label="生日"
                    width="150">
            </el-table-column>
            <!--电话-->
            <el-table-column
                    prop="phone"
                    label="电话"
                    width="150">
            </el-table-column>
            <el-table-column
                    prop="education"
                    label="学历"
                    sortable
                    width="150">
            </el-table-column>
            <!--操作-->
            <el-table-column label="操作">
                <template slot-scope="scope">
                    <el-button
                            size="mini"
                            @click="handleEdit(scope.row)">编辑</el-button>
                    <el-button
                            size="mini"
                            type="danger"
                            @click="handleDelete(scope.$index, scope.row)">删除</el-button>
                </template>
            </el-table-column>
        </el-table>
        <!--分页查询-->
        <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="pageNum"
                :page-sizes="[5, 10, 20, 50]"
                :page-size="pageSize"
                layout="total, sizes, prev, pager, next, jumper"
                :total="total">
        </el-pagination>
    </template>
</div>
</body>
<script>
    new Vue({
        el:'#app',
        method:'post',
        data(){
            return{
                formInline: {
                    name: '',
                    education: ''
                },
                dialogVisible: false,
                /*修改时的返回数据*/
                updateForm: {
                    username: '',
                    name:'',
                    sex:'',
                    birthday: '',
                    phone:'',
                    education: ''
                },
                pageNum: 1,        // 当前页码
                pageSize: 5,      // 每页显示条数
                total: 0,          // 总条数
                // searchQuery: '',  // 用于存储输入框的内容
                tableData: []
            };
        },
        methods:{
            // 处理每页显示条数变化
            handleSizeChange(val) {
                this.pageSize = val;
                this.pageNum = 1;  // 重置到第一页
                this.ListBypage();
            },

            // 处理页码变化
            handleCurrentChange(val) {
                this.pageNum = val;
                this.ListBypage(); // 只调用 ListBypage
            },

            //分页查询
            ListBypage(){
                axios({
                    url:'http://localhost:8080/teacher/selectBypage',
                    method:'post',
                    data:{
                        pageNum:this.pageNum,
                        pageSize:this.pageSize,
                    }
                }).then(res =>{
                    console.log(res.data)
                    if (res.data && res.data.data) {
                        this.tableData = res.data.data.list;
                        this.pageNum = res.data.data.pageNum;
                        this.total = res.data.data.total;
                        this.pageSize = res.data.data.pageSize;
                    }
                    // this.tableData = res.data.data.list;
                    // this.pageNum = res.data.data.pageNum;
                    // this.total = res.data.data.total;
                    // this.pageSize = res.data.data.pageSize;
                }).catch(error => {
                    console.error('分页查询失败', error);
                });
            },

            // 分页模糊查询
            onSubmit() {
                axios({
                    url:'http://localhost:8080/teacher/selectBypageLike',
                    method:'post',
                    data: {
                        name:this.formInline.name,  // 发送搜索的教师姓名
                        education: this.formInline.education,
                        pageNum:this.pageNum,
                        pageSize:this.pageSize,
                    }
                }).then(res=> {
                    if (res.data && res.data.data) {
                        this.tableData = res.data.data.list;
                        this.pageNum = res.data.data.pageNum;
                        this.total = res.data.data.total;
                        this.pageSize = res.data.data.pageSize;
                    }
                })
            },
            //查询所有
            selectAll(){
                axios({
                    url:'http://localhost:8080/teacher/select',
                    method:'post',
                }).then(res =>{
                    console.log(res)
                    this.tableData = res.data.data; //把数据更新到vue的data中
                })
            },

            //修改的方法
            updateTeacher(){
                var _this = this;
                axios({
                    url:'http://localhost:8080/teacher/update',
                    method:'post',
                    data:_this.updateForm  //发送更新的数据
                }).then(res=>{
                    if(res.data.success) {
                        // this.updateForm=res.data.data;
                        // this.selectAll()
                        this.$message({
                            message: '恭喜你，修改成功',
                            type: 'success'
                        });
                        //关闭窗口
                        // this.dialogVisible = false;
                    }
                    //更新
                    // _this.selectAll()
                    _this.ListBypage()
                    //关闭窗口
                    this.dialogVisible = false;
                })
            },
            //根据id更新数据
            update(id){
                this.selectAll(id);
            },

            // 修改操作的提交按钮
            handleSubmit(index) {
                let id=this.data[index].id
                this.dialogVisible=true
                this.updateForm.id=id
                this.update(id)
            },

            // 删除操作(单个删除）
            handleDelete(index, row) {
                this.$confirm('确认删除该用户?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios({
                        url: 'http://localhost:8080/teacher/delete',
                        method: 'post',
                        data: { id: row.id }
                    }).then(res => {
                        if (res.data.code === 200) {
                            this.$message.success('删除成功');
                            // this.selectAll();  // 刷新列表
                            this.ListBypage();
                        } else {
                            this.$message.error(res.data.msg || '删除失败');
                        }
                    }).catch(err => {
                        console.error('删除失败:', err);
                        this.$message.error('删除失败');
                    });
                }).catch(() => {

                });
            },

            /*todo:模糊查询*/
            // onSubmit() {
            //     axios({
            //         url:'http://localhost:8080/teacher/selectLike',
            //         method:'post',
            //         data: this.formInline  // 发送搜索的教师姓名
            //     }).then(res=> {
            //         if (res.data.code == 200) {
            //             this.tableData = res.data.data;
            //         }
            //     })
            // },


            formatter(row, column) {
                return row.address;
            },
            // 处理编辑按钮点击时显示的内容
            handleEdit(row) {
                this.dialogVisible = true;
                // 复制数据到编辑表单
                this.updateForm = {
                    username:row.username,
                    name:row.name,
                    sex:row.sex,
                    birthday:row.birthday,
                    phone:row.phone,
                    education:row.education
                };
            },

            // 关闭按钮
            handleClose(done) {
                done();
            },

        },
        mounted(){
            this.selectAll();
            this.ListBypage();
        }
    })
</script>
</html>