<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <!-- 引入 Element UI CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入 Vue -->
    <script src="js/Vue.main.js"></script>
    <!-- 引入 Element UI -->
    <script src="js/index.js"></script>
    <!-- 引入 axios -->
    <script src="js/axios.js"></script>

</head>
<body>
<div id="app">
    <!--输入搜索框-->
    <el-form :inline="true" :model="formInline" class="demo-form-inline">
        <el-form-item label="用户名">
            <el-input v-model="formInline.username" placeholder=""></el-input>
        </el-form-item>
        <el-form-item label="角色">
            <el-select v-model="formInline.role" placeholder="请选择 " clearable >
                <!--动态渲染-->
                <el-option
                        v-for="role in roleList"
                        :key="role.id"
                        :label="role.name"
                        :value="role.name">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" icon="el-icon-search" @click="onSubmit">查询</el-button>
        </el-form-item>
    </el-form>
    <!--操作按钮-->
    <el-row>
        <el-button type="success" plain @click="handleAdd" icon="el-icon-edit">添加</el-button>
        <!--批量删除-->
        <el-button type="danger" plain icon="el-icon-delete" @click="DeleteByIds">批量删除</el-button>
    </el-row>

    <!--编辑用户添加用户-->
    <el-dialog
            :title="dialogType === 'add' ? '添加用户' : '修改用户'"
            :visible.sync="dialogVisible"
            width="30%"
            @closed="handleClose">

        <el-form ref="updateForm" :model="updateForm" label-width="80px">
            <el-form-item label="用户名">
                <el-input v-model="updateForm.username"></el-input>
            </el-form-item>
            <el-form-item label="密码">
                <el-input v-model="updateForm.password" type="text"></el-input>
            </el-form-item>
            <el-form-item label="别名">
                <el-input v-model="updateForm.salt"></el-input>
            </el-form-item>
            </el-form-item>
            <el-form-item label="用户角色">
                <el-select v-model="updateForm.role" placeholder="请选择角色" clearable>
                    <!--动态渲染-->
                    <el-option
                            v-for="role in roleList"
                            :key="role.id"
                            :label="role.name"
                            :value="role.name">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="handleSubmit">确定</el-button>
                <el-button @click="dialogVisible = false">取消</el-button>
            </el-form-item>
        </el-form>
    </el-dialog>

    <!--表格-->
    <template>
        <el-table
                v-loading="loading"
                :data="tableData"
                @selection-change="handleSelectionChange"
                @select-all="handleSelectAll"
                @select="handleSelect"
                style="width: 100%">
            <!--复选框-->
            <el-table-column
                    type="selection"
                    width="55">
            </el-table-column>
            <!--id-->
            <el-table-column
                    label="ID"
                    width="180">
                <template slot-scope="scope">
                    <span style="margin-left: 10px">{{ scope.row.id }}</span>
                </template>
            </el-table-column>
            <!--姓名-->
            <el-table-column
                    label="用户名"
                    width="180">
                <template slot-scope="scope">
                    <el-popover trigger="hover" placement="top">
                        <p>用户名: {{ scope.row.username }}</p>
                        <div slot="reference" class="name-wrapper">
                            <el-tag size="medium">{{ scope.row.username }}</el-tag>
                        </div>
                    </el-popover>
                </template>
            </el-table-column>

            <!--盐值-->
            <el-table-column
                    label="别名"
                    width="180">
                <template slot-scope="scope">
                    <el-popover trigger="hover" placement="top">
                        <p>别名: {{ scope.row.salt }}</p>
                        <div slot="reference" class="name-wrapper">
                            <el-tag size="medium">{{ scope.row.salt }}</el-tag>
                        </div>
                    </el-popover>
                </template>
            </el-table-column>


            <!--所属角色-->
            <el-table-column
                    label="所属角色"
                    width="180">
                <template slot-scope="scope">
                    <el-popover trigger="hover" placement="top">
                        <p>角色: {{ scope.row.role }}</p>
                        <div slot="reference" class="name-wrapper">
                            <el-tag size="medium">{{ scope.row.role }}</el-tag>
                        </div>
                    </el-popover>
                </template>
            </el-table-column>

            <!--密码-->
            <el-table-column
                    label="密码"
                    width="180">
                <template slot-scope="scope">
                    <span style="margin-left: 10px">{{ '********' }}</span>
                </template>
            </el-table-column>

            <!--操作-->
            <el-table-column label="操作">
                <template slot-scope="scope">
                    <el-button
                            size="mini"
                            @click="handleEdit(scope.row)">编辑</el-button>
                    <el-button
                            size="mini"
                            type="danger"
                            @click="handleDelete(scope.$index, scope.row)">删除</el-button>
                </template>
            </el-table-column>
        </el-table>
    </template>

    <!--分页查询-->
    <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="pageNum"
            :page-sizes="[5, 10, 20, 50]"
            :page-size="pageSize"
            layout="total, sizes, prev, pager, next, jumper"
            :total="total">
    </el-pagination>


</div>

<script>
    new Vue({
        el: '#app',
        method:"post",
        data() {
            return {
                loading: false,
                roleList: [],// 角色列表
                formInline: {
                    username: '',
                    role:''
                },
                pageNum: 1,        // 当前页码
                pageSize: 5,      // 每页显示条数
                total: 0,          // 总条数
                // ... 其他数据
                multipleSelection: [], // 存储选中的行
                form: {
                    date1: '',
                    date2: '',
                    delivery: false,
                    type: [],
                    resource: '',
                    desc: ''
                },
                /*批量删除*/
                ids:[],
                /*修改时的返回数据*/
                updateForm: {
                    username: '',
                    password: '',
                    salt: '',
                    role:'',
                },
                // 添加一个变量区分是添加还是编辑
                dialogType: 'add', // 'add' 或 'edit'
                dialogVisible: false,
                // 页面中表格显示的内容
                tableData: [],
            }
        },
        methods: {

            // 统一的数据获取方法
            fetchData() {
                // 如果有查询条件，使用模糊查询
                if (this.formInline.username || this.formInline.role) {
                    this.onSubmit();
                } else {
                    this.getAll();
                }
            },
            // 处理每页显示条数变化
            handleSizeChange(val) {
                this.pageSize = val;
                this.pageNum = 1;  // 重置到第一页
                this.fetchData();
            },
            // 处理页码变化
            handleCurrentChange(val) {
                this.pageNum = val;
                this.fetchData();
            },

            getRoleList(){
              axios({
                  url:'http://localhost:8080/user/roleList',
                  method:'post',
              }).then(res =>{
                  this.roleList = res.data.data;
              })
            },
            // 获取表格数据
            getAll(){
                axios({
                    url:'http://localhost:8080/user/getUserAll',
                    method:'post',
                    data:{
                        pageNum:this.pageNum,
                        pageSize:this.pageSize,
                    }
                }).then(res =>{
                    if(res.data.code == 200){
                        this.tableData = res.data.data.list;
                        this.pageNum = res.data.data.pageNum;
                        this.total = res.data.data.total;
                        this.pageSize = res.data.data.pageSize;
                    }

                })
            },
            // 模糊查询
            onSubmit() {
                // 重置页码到第一页
                this.pageNum = 1;
                axios({
                    url:'http://localhost:8080/user/fuzzyQueryByName',
                    method:'post',
                    data:{
                        role:this.formInline.role,
                        username: this.formInline.username,
                        pageNum:this.pageNum,
                        pageSize:this.pageSize,
                    }
                }).then(res =>{
                    if(res.data.code == 200){
                        this.tableData = res.data.data.list;
                        this.pageNum = res.data.data.pageNum;
                        this.total = res.data.data.total;
                        this.pageSize = res.data.data.pageSize;
                        // this.$message.success('查询成功');
                        if(this.pageNum === 1) {
                            this.$message.success('查询成功');
                        }
                    }

                })
            },
            // 关闭按钮
            handleClose(done) {
                this.updateForm = {
                    username: '',
                    password: '',
                    salt: '',
                    role: ''
                };
                done();
            },
            // 添加用户
            add() {
                axios({
                    url:'http://localhost:8080/user/addUser',
                    method:'post',
                    data:this.updateForm,
                }).then(res =>{
                    if(res.data.code == 200){
                        this.$message.success('添加成功');
                        this.dialogVisible = false;
                        this.pageNum = 1;
                        this.fetchData();
                    }else{
                        this.$message.error('添加失败');
                        this.dialogVisible = false;
                        this.pageNum = 1;
                        this.fetchData();
                    }
                })
            },
            // 添加按钮点击处理
            handleAdd() {
                this.dialogType = 'add';
                this.dialogVisible = true;
                // 重置表单数据
                this.updateForm = {
                    username: '',
                    password: '',
                    salt: '',
                    role: ''
                };
            },
            // 批量删除
            DeleteByIds(){
                console.log(this.ids)
                this.$confirm('确认删除已选择的用户?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios({
                        url: 'http://localhost:8080/user/deleteByIds',
                        method: 'post',
                        data:this.ids,
                    }).then(res => {
                        if (res.data.code === 200) {
                            this.$message.success('删除成功');
                            this.pageNum = 1;
                            this.fetchData();
                        } else {
                            this.$message.error(res.data.msg || '删除失败');
                        }
                    }).catch(err => {
                        console.error('删除失败:', err);
                        this.$message.error('删除失败');
                    });
                }).catch(() => {

                });
            },
            // 处理编辑按钮点击时显示的内容
            handleEdit(row) {
                this.dialogType = 'edit';
                this.dialogVisible = true;
                // 复制数据到编辑表单
                this.updateForm = {
                    username: row.username,
                    password: row.password,
                    salt: row.salt,
                    role:row.role,
                };
            },


            // 表格多选框选中事件
            handleSelectionChange(val) {
                this.multipleSelection = val;
            },


            // 全选
            handleSelectAll(selection) {
                this.multipleSelection = selection;
                this.ids = this.multipleSelection.map(item => item.id);
            },

            // 单选
            handleSelect(selection, row) {
                this.multipleSelection = selection;
                this.ids = this.multipleSelection.map(item => item.id);
            },
            // 清空选择
            clearSelection() {
                this.$refs.table.clearSelection();
            },
            /*修改*/
            updateUser(){
                axios({
                    url:'http://localhost:8080/user/updateUser',
                    method:'post',
                    data:this.updateForm
                }).then(res =>{
                    console.log(res)
                    if(res.data.code == 200){
                        this.$message.success('修改成功');
                        this.dialogVisible = false;
                        this.pageNum = 1;
                        this.fetchData();
                    }else{
                        this.$message.error('修改失败');
                        this.dialogVisible = false;
                        this.getAll();
                    }
                })
            },
            // 统一处理表单提交
            handleSubmit() {
                this.$refs.updateForm.validate((valid) => {
                    if (valid) {
                        if (this.dialogType === 'add') {
                            this.add();
                        } else {
                            // 更新
                            this.updateUser();
                        }
                    }
                });
            },
            // 删除操作(单个删除）
            handleDelete(index, row) {
                this.$confirm('确认删除该用户?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios({
                        url: 'http://localhost:8080/user/deleteById',
                        method: 'post',
                        data: { id: row.id }
                    }).then(res => {
                        if (res.data.code === 200) {
                            this.$message.success('删除成功');
                            this.pageNum = 1;
                            this.fetchData();  // 刷新列表
                        } else {
                            this.$message.error(res.data.msg || '删除失败');
                        }
                    }).catch(err => {
                        console.error('删除失败:', err);
                        this.$message.error('删除失败');
                    });
                }).catch(() => {

                });
            },
        },
        mounted() {
            this.fetchData();
            this.getRoleList()
        }
    })
</script>
</body>
</html>
