<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lanqiao.educationaladministrationsystem.mapper.EasBaseCourseMapper">

    <!--模糊查询总行数-->
    <select id="getFuzzyCount" resultType="java.lang.Integer">
        select count(*) from eas_base_course
        <where>
            <if test="fuzzyQueryCourse.coursename != null and fuzzyQueryCourse.coursename != ''">
                and coursename like concat('%',#{fuzzyQueryCourse.coursename},'%')
            </if>
            <if test="fuzzyQueryCourse.synopsis != null and fuzzyQueryCourse.synopsis != ''">
                and synopsis like concat('%',#{fuzzyQueryCourse.synopsis},'%')
            </if>
        </where>
    </select>




    <!--获得总行数分页-->
    <select id="getCount" resultType="java.lang.Integer">
        select count(*) from eas_base_course
    </select>



    <!--模糊查询获取集合分页-->
    <select id="getFuzzyList" resultType="org.lanqiao.educationaladministrationsystem.dto.EasBaseCourse.FuzzyQueryCourse">
        select * from eas_base_course
        <where>
            <if test="fuzzyQueryCourse.coursename != null and fuzzyQueryCourse.coursename != ''">
                and coursename like concat('%',#{fuzzyQueryCourse.coursename},'%')
            </if>
            <if test="fuzzyQueryCourse.synopsis != null and fuzzyQueryCourse.synopsis != ''">
                and synopsis like concat('%',#{fuzzyQueryCourse.synopsis},'%')
            </if>
        </where>
        limit #{offSet},#{fuzzyQueryCourse.pageSize}
    </select>


    <!--分页查询-->
    <select id="getPageList" resultType="org.lanqiao.educationaladministrationsystem.pojo.EasBaseCourse">
        select * from eas_base_course
        limit #{offSet},#{pageSize}
    </select>



    <!--根据id删除单个-->
    <delete id="deleteById">
        delete from eas_base_course where id = #{id}
    </delete>


    <!--修改基本课程信息-->
    <update id="updateBaseCourse">
        update eas_base_course
        <set>
            <if test="coursename != null"> coursename = #{coursename},</if>
            <if test="synopsis != null"> synopsis = #{synopsis}</if>
        </set>
        where id = #{id}
    </update>



    <!--添加基础课程信息-->
    <insert id="addBaseCourse">
        insert into eas_base_course
        values (null,#{easBaseCourse.coursename},#{easBaseCourse.synopsis})
    </insert>



    <!--批量删除根据id-->
    <delete id="batchDeleteBaseCourse" parameterType="java.lang.reflect.Array">
        delete from eas_base_course where id in
        <foreach collection="ids" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>

    <!--新添加基本课程信息-->
    <insert id="addNewBaseCourse">
        insert into eas_base_course
        values (null,#{coursename},'新课程')
    </insert>



</mapper>