<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lanqiao.educationaladministrationsystem.mapper.EasRoleMapper">



    <select id="getAll" resultType="org.lanqiao.educationaladministrationsystem.pojo.EasRole">
        select * from eas_role
    </select>

    <!--根据角色id查询出对应的角色名-->
    <select id="findRoleNameByRoleId" resultType="java.lang.String">
        select name from eas_role where id =#{roleid}
    </select>



    <!--根据角色名查询角色信息-->
    <select id="getRoleView" resultType="org.lanqiao.educationaladministrationsystem.pojo.EasRole">
        select * from eas_role where name = #{roleName}
    </select>

    <!--添加角色信息-->
    <insert id="addRole">
        insert into eas_user_role values (null,#{easUserId},#{easRoleId})
    </insert>


    <!--修改角色信息eas_user_role-->
    <update id="updateBaseCourse">
        update eas_user_role
        <set>
            <if test="easRoleId > 0 ">eas_role_id = #{easRoleId}</if>
        </set>
        where eas_user_id = #{easUserId}
    </update>


    <!--批量删除eas_user_role表中的数据-->
    <delete id="batchDeleteRole">
        delete from eas_user_role where eas_user_id in
        <foreach collection="ids" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>
</mapper>