<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lanqiao.educationaladministrationsystem.mapper.EasStudentMapper">

    <resultMap id="resStudent" type="org.lanqiao.educationaladministrationsystem.pojo.EasStudent">
        <!-- property指实体类 -->
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="name" column="name"/>
        <result property="sex" column="sex"/>
        <result property="birthday" column="birthday"/>
        <result property="phone" column="phone"/>
        <result property="motto" column="motto"/>
        <result property="classId" column="class_id"/>
    </resultMap>


    <update id="updateStudent">
        update eas_student
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="birthday != null">birthday = #{birthday},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="motto != null">motto = #{motto}</if>
        </set>
        where username = #{username}
    </update>
    <delete id="deleteStudent">
        delete from eas_student
        <where>
            <if test="id != 0">
                id = #{id}
            </if>
        </where>

    </delete>
    <!--    模糊查询-->
    <select id="findListByUsername" resultMap="resStudent">
        select * from ( eas_student as s inner join eas_class as c on s.class_id = c.id)
        <where>
            <if test="name != null and name != ''">
                name like concat('%',#{name},'%')
            </if>
            <if test="classes !=null and classes != '' ">
                and  classes like concat('%',#{classes},'%')
            </if>
        </where>
    </select>


    <!-- //查询总记录数         修改2-->
    <select id="selectTotal" resultType="java.lang.Integer">
        select count(*) from (eas_student as s inner join eas_class as c on s.class_id = c.id)
    </select>


    <!--分页查询-->
    <select id="selectByPage" resultType="org.lanqiao.educationaladministrationsystem.pojo.EasStudent">
        select * from eas_student
        limit #{offSet},#{pageSize}
    </select>




    <!--分页模糊查询的总数-->
    <select id="studentCount" resultType="java.lang.Integer">
        select count(*) from (eas_student as s inner join eas_class as c on s.class_id = c.id)
        <where>
            <if test="studentPageList.name != null and studentPageList.name != '' ">
                name like concat('%',#{studentPageList.name},'%')
            </if>
            <if test="studentPageList.classes != null and studentPageList.classes != ''">
                and classes like concat('%',#{studentPageList.classes},'%')
            </if>
        </where>
    </select>

    <!--分页查询模糊查询          修改1 -->
    <select id="BigPageList" resultType="org.lanqiao.educationaladministrationsystem.dto.EasStudent.StudentPageList">
        select * from eas_student as s inner join eas_class as c on s.class_id = c.id
        <where>
            <if test="studentPageList.name != null and studentPageList.name != '' ">
                name like concat('%',#{studentPageList.name},'%')
            </if>
            <if test="studentPageList.classes != null and studentPageList.classes != ''">
                and classes like concat('%',#{studentPageList.classes},'%')
            </if>
        </where>
        LIMIT #{offSet}, #{studentPageList.pageSize}
    </select>


</mapper>