<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lanqiao.educationaladministrationsystem.mapper.EasUserMapper">
    <!--登录 -->
    <select id="login" resultType="org.lanqiao.educationaladministrationsystem.pojo.EasUser">
        select * from eas_user where username = #{username} and password = #{password}
    </select>


    <!--模糊查询-->
    <select id="getList" resultType="org.lanqiao.educationaladministrationsystem.dto.EasUser.EasUserQuery">
        SELECT
        u.*,
        r.name as role
        FROM
        eas_user u
        LEFT JOIN
        eas_user_role ur ON u.id = ur.eas_user_id
        LEFT JOIN
        eas_role r ON ur.eas_role_id = r.id
        <where>
            <if test="username != null and username != ''">
                AND u.username LIKE CONCAT('%', #{username}, '%')
            </if>
            <if test="role != null and role != ''">
                AND r.name LIKE CONCAT('%', #{role}, '%')
            </if>
        </where>
    </select>


    <!--根据用户的用户名查询用户信息-->
    <select id="getByUserName" parameterType="java.lang.String" resultType="org.lanqiao.educationaladministrationsystem.pojo.EasUser">
        select * from eas_user where username = #{username}
    </select>


    <!---->
    <select id="queryRole" resultType="org.lanqiao.educationaladministrationsystem.dto.EasUser.EasUserQuery">
        select u.*,r.name as role from eas_user u left join eas_user_role ur ON u.id = ur.eas_user_id left join eas_role r ON ur.eas_role_id = r.id
    </select>

    <!--添加用户信息-->
    <insert id="add" parameterType="org.lanqiao.educationaladministrationsystem.pojo.EasUser" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into eas_user(username, password, salt, locked)
        values(#{username},#{password},#{salt},0)
    </insert>



    <!--修改用户-->
    <update id="updateUser" parameterType="org.lanqiao.educationaladministrationsystem.pojo.EasUser">
        update eas_user
        <set>
            <if test="username != null">username=#{username},</if>
            <if test="password != null">password=#{password},</if>
            <if test="salt != null">salt=#{salt},</if>
        </set>
        where id=#{id}
    </update>

    <!--单个删除-->
    <delete id="delete" parameterType="int">
        delete from eas_user where id = #{id}
    </delete>


    <!--批量删除-->
    <delete id="batchDelete">
        delete from eas_user where id in
        <foreach collection="ids" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>

    <!--查询总页数-->
    <select id="getCount" resultType="java.lang.Integer">
        select count(*) from ((select u.*,r.name as role from eas_user u left join eas_user_role ur ON u.id = ur.eas_user_id left join eas_role r ON ur.eas_role_id = r.id)) as t
    </select>


    <!--分页查询-->
    <select id="pageList" resultType="org.lanqiao.educationaladministrationsystem.dto.EasUser.EasUserQuery">
        select u.*,r.name as role from eas_user u left join eas_user_role ur ON u.id = ur.eas_user_id left join eas_role r ON ur.eas_role_id = r.id
        limit #{offSet},#{pageSize}
    </select>

    <!--分页查询模糊查询-->
    <select id="fuzzyPageList" resultType="org.lanqiao.educationaladministrationsystem.dto.EasUser.FuzzyQuery">
        SELECT
        u.*,
        r.name as role
        FROM
        eas_user u
        LEFT JOIN eas_user_role ur ON u.id = ur.eas_user_id
        LEFT JOIN eas_role r ON ur.eas_role_id = r.id
        <where>
            <if test="fuzzyQuery.username != null and fuzzyQuery.username != ''">
                AND u.username LIKE CONCAT('%', #{fuzzyQuery.username}, '%')
            </if>
            <if test="fuzzyQuery.role != null and fuzzyQuery.role != ''">
                AND r.name LIKE CONCAT('%', #{fuzzyQuery.role}, '%')
            </if>
        </where>
        ORDER BY u.id
        LIMIT #{offSet}, #{fuzzyQuery.pageSize}
    </select>


    <!--模糊查询的总数-->
    <select id="fuzzyCount" resultType="java.lang.Integer">
        select COUNT(DISTINCT u.id)
        from eas_user u
        LEFT JOIN eas_user_role ur ON u.id = ur.eas_user_id
        LEFT JOIN eas_role r ON ur.eas_role_id = r.id
        <where>
            <if test="fuzzyQuery.username != null and fuzzyQuery.username != ''">
                AND u.username LIKE CONCAT('%', #{fuzzyQuery.username}, '%')
            </if>
            <if test="fuzzyQuery.role != null and fuzzyQuery.role != ''">
                AND r.name LIKE CONCAT('%', #{fuzzyQuery.role}, '%')
            </if>
        </where>
    </select>
</mapper>