<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.EasNoticeMapper">

    <resultMap id="BaseResultMap" type="generator.domain.EasNotice">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="author" column="author" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="INTEGER"/>
            <result property="releasedate" column="releasedate" jdbcType="DATE"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,author,
        content,type,releasedate
    </sql>
</mapper>
